.form {
  display: flex;
  flex-direction: column;
}

.form__logo {
  width: 38px;
  height: 38px;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 30px 0 0;
  padding: 10px 0;
}

.form__input-container {
  margin: 10px 0;
}

.form__input-container:first-of-type {
  margin-top: 0;
}

.form__label {
  display: block;
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 12px;
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  background-color: #F9F9F9;
  border: 0;
  border-radius: 8px;
}

.form__input-error {
  /*display: none;*/
  color: #FF3055;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;
}

.form__input-error:last-of-type {
  padding-bottom: 0;
}

.form__button {
  margin: 0 0 16px;
  background-color: #3456F3;
  border: 0;
  border-radius: 3px;
  width: 100%;
  padding: 13px 15px 15px 13px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.form__close-text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  padding: 0;
  margin: 0;
}

.form__close-link {
  color: #3456F3;
  text-decoration: none;
}

.form__close-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {

  .form__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    margin: 40px 0 0;
  }

  .form__button {
    font-size: 12px;
    line-height: 15px;
    padding: 15px;
    margin-bottom: 14px;
  }

  .form__close-text {
    font-size: 12px;
    line-height: 15px;
  }

}