.app {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
}

.app__content {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  position: relative;
}