.footer {
  padding: 79px 0 10px;
}

.footer__content {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

.footer__project-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  text-align: center;
  padding: 0 0 20px;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 0 10px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.footer__project-date {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0 0 10px;
}

.footer__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer__links-list-item {
  margin: 0 20px 0 0;
  padding: 0 0 10px;
}

.footer__links-list-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {

  .footer__content {
    padding: 0 30px;
  }

}

@media screen and (max-width: 425px) {

  .footer {
    padding: 79px 0 10px;
  }

  .footer__content {
    padding: 0;
  }

  .footer__project-title {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 21px;
    margin: 0 0 10px;
  }

  .footer__links {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 0;
    margin: 0;
  }

  .footer__project-date {
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 0;
    color: #A0A0A0;
  }

  .footer__links-list {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 6px 0 0;
  }

  .footer__links-list-item {
    margin: 0;
    padding: 0 0 10px;
  }

  .footer__links-list-item:last-of-type {
    padding-bottom: 10px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

}