.auth {
  width: 396px;
  margin: 0 auto;
}

.auth__header {
  margin: 70px 0 30px;
}

.auth__fieldset {
  margin-bottom: 159px;
}

@media screen and (max-width: 425px) {

  .auth {
    width: 260px;
  }

  .auth__header {
    margin: 56px 0 70px;
  }

  .auth__fieldset {
    margin-bottom: 247px;
  }

  .auth_footer {
    margin: 20px;
  }

}